In [40]:
import pandas as pd
from sklearn import metrics
from sklearn.metrics import recall_score,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN
import sklearn
import imblearn

In [3]:
df=pd.read_csv('telco_churn.csv')
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [4]:
df=df.drop('Unnamed: 0',axis=1)

In [5]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [6]:
#Creating X&y varaible
X=df.drop(['Churn'],axis=1)

In [7]:
X

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-12,tenure_group_13-24,tenure_group_25-36,tenure_group_37-48,tenure_group_49-60,tenure_group_61-72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [8]:
y=df['Churn']

In [9]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [13]:
model_df=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=5,min_samples_leaf=8)

In [14]:
model_df.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=8, random_state=100)

In [15]:
model_df.score(X_train,y_train)

0.808

In [16]:
y_pred=model_df.predict(X_test)

In [17]:
y_pred

array([1, 0, 0, ..., 0, 0, 1], dtype=int64)

In [20]:
model_df.score(X_test,y_pred)

1.0

In [21]:
acc_df=accuracy_score(y_test,y_pred)

In [22]:
acc_df

0.7782515991471215

In [24]:
print(classification_report(y_test,y_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.87      0.85      1026
           1       0.60      0.53      0.57       381

    accuracy                           0.78      1407
   macro avg       0.72      0.70      0.71      1407
weighted avg       0.77      0.78      0.77      1407

In [29]:
#Using SMOTEENN FOR UPSAMPLING AND DOWNSAMPLING
sm=SMOTEENN()

In [46]:
x_resampled,y_resampled=sm.fit_resample(X,y)

In [32]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from scikit-learn) (1.21.2)
Requirement already satisfied: joblib>=0.11 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from scikit-learn) (1.7.1)

In [38]:
print(sklearn.__version__)

0.24.2

In [42]:
print(imblearn.__version__)

0.8.0

In [49]:
x_resampled.shape

(5782, 50)

In [50]:
y_resampled.value_counts()

1    3148
0    2634
Name: Churn, dtype: int64

In [51]:
xr_train,xr_test,yr_train,yr_test=train_test_split(x_resampled, y_resampled,test_size=0.2)

In [52]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [53]:
model_dt_smote.fit(xr_train,yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [54]:
ypred_smote=model_dt_smote.predict(xr_test)

In [55]:
print(classification_report(yr_test,ypred_smote,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.89      0.92       546
           1       0.91      0.97      0.94       611

    accuracy                           0.93      1157
   macro avg       0.94      0.93      0.93      1157
weighted avg       0.93      0.93      0.93      1157

In [56]:
accuracy_score(yr_test,ypred_smote)

0.9317199654278306

In [59]:
print(confusion_matrix(yr_test,ypred_smote))

[[486  60]
 [ 19 592]]

In [60]:
from sklearn.ensemble import RandomForestClassifier
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [68]:
model_rf.fit(X_train,y_train)
y_pred_rf=model_rf.predict(X_test)
accuracy_score(y_test,y_pred_rf)

0.7818052594171997

In [67]:
print(classification_report(y_test, y_pred_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.81      0.92      0.86      1026
           1       0.65      0.42      0.51       381

    accuracy                           0.78      1407
   macro avg       0.73      0.67      0.69      1407
weighted avg       0.77      0.78      0.77      1407

In [70]:
model_smote_rf=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=5,min_samples_leaf=8)
model_smote_rf.fit(xr_train,yr_train)
y_pred_smote_rf=model_smote_rf.predict(xr_test)

In [71]:
accuracy_score(yr_test,y_pred_smote_rf)

0.9256698357821953

In [74]:
print(classification_report(yr_test,y_pred_smote_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.88      0.92       546
           1       0.90      0.96      0.93       611

    accuracy                           0.93      1157
   macro avg       0.93      0.92      0.93      1157
weighted avg       0.93      0.93      0.93      1157

In [75]:
import pickle
filename='model.sav'

In [76]:
pickle.dump(model_dt_smote,open(filename,'wb'))

In [78]:
load_model=pickle.load(open(filename,'rb'))

In [79]:
load_model.score(xr_test,yr_test)

0.9317199654278306